# Created by .ignore support plugin (hsz.mobi)
/.idea/
/log/*
/server/ssh/ssh-key
/php/sites/*
!/php/sites/000-docker.conf
!/php/sites/ejemplo.conf
/data/elasticsearch/*
/data/mariadb/*
/data/mongo/*
/data/mysql/*
/data/postgres/*
/data/postgis/*
/data/redis/*
/data/jenkins/*
/data/jira/*
!/data/elasticsearch/.gitkeep
!/data/mariadb/.gitkeep
!/data/mongo/.gitkeep
!/data/mysql/.gitkeep
!/data/postgres/.gitkeep
!/data/redis/.gitkeep
/mysql/sql/*
!/mysql/sql/.gitkeep
!/mysql/sql/init-demo-db.sh
/postgres/sql/*
!/postgres/sql/.gitkeep
!/postgres/sql/init-demo-db.sh